@use '../Library' as *;

form {
    text-align: center;
    margin: 2rem auto;
    max-width: 25rem;
    line-height: 5rem;
    display: flex;
    align-items: center;
    position: relative;
    
    input{
        width: 100%;
        height: 100%;
        padding: 1rem 4rem 1rem 2rem;
        margin-bottom: 3rem;
        margin: 0 auto; 
        
        color: $clr-white;
        font-size: 1.2rem;
        font-family: $fnt-main;
        
        outline: none;
        border-radius: .8rem;
        border: .01rem solid $clr-P2-C4;
        background-color: $clr-dark;

        &::placeholder{
            font-size: 1.5rem;
            font-family: $fnt-main;
            font-weight: 00;
        }
    }

    svg {
        cursor: pointer;
        position: absolute;
        right: 1rem;
        height: 2rem;
        aspect-ratio: 1;
        fill: $clr-white;
        transition: fill .3s ease-in-out;
        &:hover{
            fill: rgba($clr-white, 0.5);
        }

    }
}