@use './Library' as *;

html{
    background-color: $clr-dark;
    color: $clr-white;
   
    
    h1{
        font-size: 3rem;
        font-family: $fnt-main;
        font-weight: bold;
        color: $clr-white;
        text-align: center;

        margin-top: 10rem;
    }

    .containerHome, .userList{
        
        padding: 3rem;
        .moviesCardsContainer{
            max-width: 100rem;
            height: fit-content;
            margin: auto;
            border-radius: 1rem;
            background-color: $clr-main;

            display: grid;
            grid-template-columns: repeat(auto-fit, 10rem);
            grid-gap: 1rem;
            justify-content: center;
        
            padding: 1rem;
        }

        &.userList div{
            background-color: $clr-P2-C4;
        }
    }
}

// mettre rank en  nom de variable pour le tri des notes