@use './Library' as *;

html{
    background-color: $clr-dark;
    color: $clr-white;
    width: 100%;
    height: 100vh;
    
    
    h1{
        font-size: 3rem;
        font-family: $fnt-main;
        font-weight: bold;
        color: $clr-white;
        text-align: center;

        margin-top: 10rem;
    }

    .containerHome, .userList{
        width: 100%;
        height: 50vh;
        padding: 2rem;
        .moviesCardsContainer{
            max-width: 100rem;
            margin: auto;
            border-radius: 1rem;
            background-color: $clr-main;

            display: grid;
            grid-template-columns: repeat(auto-fit, 10rem);
            grid-gap: 1rem;
            justify-content: center;
            
            
            
            // justify-items: center;
            // align-items: center;
            
            padding: 1rem;

            // .moviesCards{
            //     display: flex;
            //     flex-wrap: wrap;
            //     gap: 1rem .8rem;
            //     align-content: flex-start;
                
            //     background-color: #fff;
            // }
        }

        &.userList div{
            background-color: $clr-P2-C4;
        }
    }
}

// mettre rank en  nom de variable pour le tri des notes